---
import Layout from '../layouts/BasicLayout.astro';
---

<Layout
	title="About Me"
	description="プロフィール"
	showProfileImage={true}
>
	<p>
		東京でSoftware Developerをしてます。アイコンは妻が描いたポメラニアン。
	</p>
</Layout>
